# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
x64/Debug/
SFML-2.6.1/doc/
SFML-2.6.1/examples/
SFML-2.6.1/license.md
SFML-2.6.1/readme.md